<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">New homes and renovations in the Port Macquarie NSW area and surrounds.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">New Homes</h4>
                    <p class="text-muted">We can build your new home, for a price competitive with the big companies, but with levels of customisation that only a 'small builder' can manage.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bath fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Renovations</h4>
                    <p class="text-muted">Why move, when you can keep your well-loved home, but have all the modern conveniences and style?</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-male fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tradesmen</h4>
                    <p class="text-muted">If you need an extra hand, we can subcontract to assist with your project (subject to availability).</p>
                </div>
            </div>
        </div>
    </section>